.resources-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.resources-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.resources-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.resources-image {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.resources-burger-menu {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.resources-icon {
  width: 36px;
  height: 36px;
}
.resources-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.resources-link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.resources-link1 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.resources-link2 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.resources-link3 {
  text-decoration: none;
}
.resources-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.resources-cta-btn {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.resources-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100VH;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.resources-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.resources-image1 {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.resources-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.resources-icon2 {
  width: 24px;
  height: 24px;
}
.resources-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.resources-link4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.resources-link5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.resources-link6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.resources-link7 {
  text-decoration: none;
}
.resources-container2 {
  width: 100%;
  height: 544px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.resources-textarea {
  width: 100%;
  height: 123px;
}
.resources-pricing {
  width: 100%;
  height: 316px;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
}
.resources-card {
  display: flex;
  align-items: center;
  padding-top: 48px;
  flex-direction: row;
  padding-bottom: 48px;
  background-color: var(--dl-color-gray-white);
}
.resources-container3 {
  display: flex;
  min-width: 150px;
  align-items: center;
  flex-direction: column;
}
.resources-text {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
}
.resources-text01 {
  margin: var(--dl-space-space-halfunit);
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
}
.resources-text02 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
}
.resources-text03 {
  margin-left: 48px;
  margin-right: 96px;
}
.resources-text04 {
  font-style: normal;
  font-weight: 400;
}
.resources-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.resources-button:hover {
  transform: scale(1.02);
}
.resources-card1 {
  display: flex;
  margin-top: 32px;
  align-items: center;
  padding-top: 48px;
  flex-direction: row;
  padding-bottom: 48px;
  background-color: var(--dl-color-gray-white);
}
.resources-container4 {
  display: flex;
  min-width: 150px;
  align-items: center;
  flex-direction: column;
}
.resources-text08 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
}
.resources-text09 {
  margin: var(--dl-space-space-halfunit);
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
}
.resources-text10 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
}
.resources-text11 {
  margin-left: 48px;
  margin-right: 96px;
}
.resources-text12 {
  font-style: normal;
  font-weight: 400;
}
.resources-button1 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.resources-button1:hover {
  transform: scale(1.02);
}
.resources-card2 {
  display: flex;
  margin-top: 32px;
  align-items: center;
  padding-top: 48px;
  flex-direction: row;
  padding-bottom: 48px;
  background-color: var(--dl-color-gray-white);
}
.resources-container5 {
  display: flex;
  min-width: 150px;
  align-items: center;
  flex-direction: column;
}
.resources-text16 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
}
.resources-text17 {
  margin: var(--dl-space-space-halfunit);
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
}
.resources-text18 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
}
.resources-text19 {
  margin-left: 48px;
  margin-right: 96px;
}
.resources-text20 {
  font-style: normal;
  font-weight: 400;
}
.resources-button2 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.resources-button2:hover {
  transform: scale(1.02);
}
